# Fixed, tested PoC versions (do not use latest).
GITLAB_IMAGE=gitlab/gitlab-ce:17.11.7-ce.0
GITLAB_RUNNER_IMAGE=gitlab/gitlab-runner:v17.11.2
MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
MINIO_MC_IMAGE=quay.io/minio/mc:RELEASE.2025-04-16T18-13-26Z
ALPINE_IMAGE=alpine:3.21.3

GITLAB_EXTERNAL_URL=http://localhost:8929
GITLAB_INTERNAL_URL=http://gitlab:8929
GITLAB_ROOT_PASSWORD=Poc-R7v!9Qx#2Lm8Za

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=ChangeMe-MinIO-2026!
MINIO_CI_ACCESS_KEY=config-sync-ci
MINIO_CI_SECRET_KEY=ChangeMe-CI-MinIO-2026!
MINIO_BUCKET=config-packages
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
